:root{
    margin: 0;
    --blue-color: #1992D4;
    --white-color: #FFFFFF;
    --grey-background: #E2E8F0;
    --yellow-border: #F0B429;
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

div{
    border: 1px solid var(--blue-color);
}

img{
    width: 28px;
    height: auto;
}

.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(100px, 1fr) minmax(200px, 1fr) 1fr;
}

.sidebar{
    padding: 8px;
    background-color: var(--blue-color);
    grid-row: span 3;
    display: grid;
    grid-template-rows: min-content 20px repeat(5, 1fr) 20px repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    align-items: center;
    color: var(--white-color);
}

.sidebar > img{
    justify-self: center;
}

.logo{
    width: 48px;
}

.span-column{
    grid-column: span 2;
}

.top-bar{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header{
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.projects{
    background-color: var(--grey-background);
}